{
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "semi": false,
  "useTabs": false,
  "tabWidth": 2
}
