* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import './common/reset.scss';
@import './common/colors.scss';
@import './common/media-queries.scss';

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Nunito:wght@200;400;700&display=swap');

body {
  background-color: $white;
  
  font-family: 'Nunito', sans-serif;
  min-width: min-content;
  
}

#app {
  position: relative;
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 120px;
  @include for-desktop-and-large {
    padding-top: 100px;
  }
}
