@import '../../common/colors.scss';
@import '../../common/media-queries.scss';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;

  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: $blue;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
  }

  .login {
    width: 100%;

    .password-requirements {
      p {
        font-size: 0.8rem;
        font-style: italic;
      }
    }
  }

  @include for-desktop {
    padding: 0 20%;
  }

  @include for-desktop-and-large {
    padding: 0 25%;
  }
}
