@import '../../common/colors.scss';
@import '../../common/media-queries.scss';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;

  @include for-desktop {
    padding: 0 20%;
  }

  @include for-desktop-and-large {
    padding: 0 25%;
  }
}
