@import '../../../../common/colors.scss';

button {
  margin-left: 10px;
  border: 1px solid $black;
  color: $blue;
  border: 1px solid $blue;
  padding: 5px;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}
