@import '../../../../common/colors.scss';
@import '../../../../common/media-queries.scss';

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 0 20%;

  @include for-phone {
    flex-direction: row;
  }

  .link {
    display: inline-block;
    color: $blue;

    &:hover {
      color: $white;
    }
  }

  .trash-icon {
    color: red;

    &:hover {
      color: $white;
    }
  }
}
