@import '../../../../common/colors.scss';

// table {
//   font-family: Arial, Helvetica, sans-serif;
//   border-collapse: collapse;
//   width: 100%;
//   text-align: center;
//   margin-top: 50px;
//   color: $black;
// }

.table-admin {
  margin-top: 50px;
  width: 80%;
  text-align: center;
  color: $black;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid $light-blue;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $blue;
  color: white;
}

.pagination {
  margin-top: 20px;

  button {
    background-color: $blue;
    margin-left: 5px;
    box-shadow: 0 0 4px $light-blue;
    border: 1px solid $white;
    color: $white;
    width: 50px;
    cursor: pointer;

    &:not(:first-child) {
      width: 70px;
    }
  }
}
