@import '../common/media-queries.scss';
@import '../common/colors.scss';

.cities-block {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;

  @include for-desktop-and-large {
    margin-top: 100px;
    &:nth-child(even) {
      flex-direction: row;
      .__description {
        margin-left: 30px;
      }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
      .__description {
        margin-right: 30px;
      }
    }
  }

  &:nth-child(odd) .__city-link:before {
    left: 100%;
  }

  &:nth-child(even) .__city-link:before {
    left: -100%;
  }

  @include for-desktop {
    padding: 0 128px;
  }

  @include for-large {
    padding: 0 60px;
  }

  .__city-link {
    position: relative;
    overflow: hidden;
    width: 100%;

    @include for-desktop-and-large {
      flex: 0 0 400px;
    }

    &:hover:before {
      left: 0%;
    }

    &:before {
      content: attr(data-name);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparentize($black, 0.5);
      z-index: 10;
      transition: left 200ms ease-in-out;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .__picture {
      box-shadow: 0 0 4px transparentize($black, 0.2);
      width: 100%;
    }
  }

  .__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .__name {
      font-size: 24px;
      text-decoration: none;
      font-weight: bold;
      color: $blue;
      text-align: center;

      &:hover {
        color: $light-blue;
      }
    }

    p {
      margin-top: 20px;
      text-align: justify;
      font-size: 18px;
    }
    .__links {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      // justify-content: space-between;

      @include for-desktop-and-large {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        top: 50%;
        margin-top: 80px;
      }

      // @include for-large {
      //   font-size: 20px;
      // }

      // @include for-desktop {
      //   margin-top: 64px;
      // }

      .__link {
        // background-color: #8dc6db;
        // text-decoration: none;
        // color: #ffffff;
        // font-weight: bold;
        // text-align: center;
        // width: calc(50% - 4px);
        // height: 12vw;
        // box-shadow: 0 0 4px #131c23;
        // border: 1px solid $white;
        // font-size: 4vw;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        // @include for-desktop-and-large {
        //   font-size: 20px;
        //   height: 50px;
        // }
        // &:hover {
        //   color: $light-blue;
        //   background-color: $white;
        // }

        position: relative;
        display: block;
        color: $blue;
        font-size: 14px;
        margin: 10px 25px;
        border: 1px solid $blue;
        padding: 14px 60px;
        overflow: hidden;
        transition: 0.4s all ease;
        text-decoration: none;
        text-align: center;

        &.--active {
          background-color: $blue;
          color: $white;
          border: 1px solid $blue;
          box-shadow: 0 0 4px opacify($white, 0.2);
        }

        &:before {
          background: $blue;
          color: $white;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          transition: all 0.4s ease;
          width: 0%;
          height: 100%;
        }

        &:hover {
          color: $white;
        }

        &:hover::before {
          width: 100%;
        }

        .__title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.1rem;
          padding-bottom: 10px;
        }
      }
    }
  }
}
