@import '../../../common/colors.scss';
@import '../../../common/media-queries.scss';
.favorite {
    position: relative;
    margin-right: 6px;
    .popup {
      
      .overlay {
        width: 100vw;
        height: 100vh;
        background: rgba(73, 73, 73, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
      }

      .content-popup {
        position: fixed;
        border: 1px solid $black;
        width: 30%;
        height: auto;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%, -50%);
        z-index: 1002;

        @include for-phone {
          width: 90%;
        }

        .popup-container {
          padding: 0 10% 5% 10%;
        }
        .icon-heart {
          display: flex;
          justify-content: center;
          color: $red;
          margin: 10px 0;
        }
        h2 {
          text-align: center;
          font-size: 1rem;
          margin: 15px 0;
        }

        .close-btn {
          text-align: right;
          font-size: 2rem;
          width: 2rem;
          margin-left: auto;
        }
        
      }
    }
  }
