@import 'colors';

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 150px;

  .credits-footer {
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.8rem;
  }

  .footer-menu {
    display: flex;
    justify-content: center;
    right: 10px;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $blue;
      padding: 10px;
    }
  }

  .social-footer {
    text-align: center;
    margin: 15px 0;
    svg {
      display: inline-block;
      margin: 0 10px 10px 10px;
      color: $black;
    }
  }
}
