@import 'colors';

footer {
  background-color: $light-grey;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;

  .credits-footer {
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.8rem;
  }

  .footer-menu {
    display: flex;
    justify-content: center;
    top: 10px;
    right: 10px;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $blue;
      padding: 10px;
    }
  }

  .social-footer {
    text-align: center;
    svg {
      display: inline-block;
      margin: 0 10px 10px 10px;
      color: $black;
    }
  }
}
