* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import 'reset';
@import 'colors';
@import 'navigation';
@import 'footer';
@import 'contact-form';
@import '../pages/home/Home.scss';
@import '../pages/learn/learn';
@import '../pages/learn/category-icons';
@import '../common/back-to-top.scss';
@import '../common/dark-mode.scss';

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Nunito:wght@200;400;700&display=swap');

body {
  background-color: $light-grey;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  min-width: min-content;
}

#app {
  position: relative;
  padding: 140px 0 150px 0;
  min-height: 100vh;

  @include for-new-desktop {
    padding: 100px 0 90px 0;
  }

}
